<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'orders')}">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
<!--/*@thymesVar id="order" type="cqt.springframework.spring5webapp.model.Order"*/-->

    <div align="center">

    <h2>List of Orders</h2>

    <table class="table table-striped">
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Customer ID</th>
        </tr>
        <tr th:each="order: ${orders}">
            <td th:text="${order.o_id}">123</td>
            <td th:text="${order.o_date}">2018-12-24</td>
            <td th:text="'$' + ${order.o_amount}">$999</td>
            <td th:text="${order.o_customer.getC_id()}">101</td>
        </tr>
    </table>

</div>
</body>
</html>