<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'find')}">

<body>

  <h2>Customer</h2>
  <form th:object="${customer}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Name', 'cName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Email', 'c_email', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Status', 'c_status', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${customer['new']} ? 'Add Customer' : 'Update Customer'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Customer</button>
      </div>
    </div>
  </form>
</body>
</html>
